.setting-form {
    max-width: 475px;
}

.setting-form__button {

}

.setting-form__submit {
    margin-right: var(--space-xs)
}

@media screen and (max-width: 768px) {
    .setting-form {
        max-width: 100%;
    }

    .setting-form__button {
        width: 100%;
    }

    .setting-form__submit {
        margin-right: 0;
        margin-bottom: var(--space-m);
    }

    .setting-form__footer {
        display: flex;
        flex-direction: column;
    }
}