.form-field__input {
    border: none;
    width: 98%;
}

.form-field__input_type_number {
    text-align: right;
}

.form-field__input:focus, .form-field__input:active {
    border: none;
    outline: none;
}

.form-field__input:placeholder {
    color: #cccccc;
}

.form-field__input:placeholder-shown ~ .form-field__icon_type_clear {
    display: none;
}