.build-history__number {
    margin: 0 var(--space-xxxs) 0 0;
    font-weight: bold;
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
}

@media screen and (max-width: 480px) {
    .build-history__number {
        font-size: var(--font-size-m);
        line-height: var(--line-height-xs);
    }
}