.build-history__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: var(--space-xxxs);
}

@media screen and (max-width: 480px) {
    .build-history__title {
        max-width: 100%;
        white-space: normal;
        overflow: unset;
        text-overflow: unset;
        padding-right: 0;
        word-break: break-all;
    }
}