.build-history__header {
    display: grid;
    grid-template-columns: min-content auto;
    font-size: calc(var(--font-size-m) - 1px);
    line-height: var(--line-height-m);
    margin-bottom: var(--space-xs);
}

@media screen and (max-width: 480px) {
    .build-history__header {
        grid-template-columns: 1fr;
    }
}