.build-history__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .build-history__detail {
        flex-direction: column;
        justify-content: flex-start;
    }
}