.build-history__title {

}

@media screen and (max-width: 860px) {
    .build-history__title {
        max-width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .build-history__title {
        max-width: 150px;
    }
}

@media screen and (max-width: 520px) {
    .build-history__title {
        max-width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .build-history__title {
        max-width: 100%;
        white-space: normal;
        overflow: unset;
        text-overflow: unset;
    }
}