@import url('./build-history__header.css');
@import url('./build-history__title.css');
@import url('./build-history__number.css');
@import url('./build-history__detail.css');
@import url('./build-history__commit.css');
@import url('./build-history__status.css');

.build-history {
    display: flex;
    margin-bottom: var(--space-xs);
}

.build-history:hover {
    cursor: pointer;
}

.build-history_view_details .build-history__detail {
    flex-direction: column;
}

.build-history_view_details .build-history__time {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.build-history_view_details .build-history__commit {
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space-xs);
    border-bottom: 1px solid var(--color-bg-heavy);
}

.build-history_view_details .build-history__datetime {
    margin-right: var(--space-s);
    margin-bottom: 0;
    color: var(--color-text);
}

.build-history_view_details .build-history__timer {
    color: var(--color-text);
}

.build-history_status_success .build-history__number {
    color: var(--color-success);
}

.build-history_status_warning .build-history__number {
    color: var(--color-warning);
}

.build-history_status_error .build-history__number {
    color: var(--color-error);
}