.section {
    margin-top: var(--space-xs);
}

.section__footer {
    margin-bottom: calc(var(--space-xxl) - 4px);
}

.section__footer_align_left {
    display: flex;
}

.section__button {

}

@media screen and (max-width: 768px) {
    .section__button {
        width: 100%;
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
    }
}