.icon-text {
    display: flex;
    align-items: center;
}

.icon-text__icon {

}

.icon-text__icon_indent-r_xs {
    margin-right: var(--space-xxs);
}

.icon-text__icon_indent-r_s {
    margin-right: var(--space-xs);
}

.icon-text__icon_indent-l_l {
    margin-left: var(--space-m);
}

.icon-text__text {

}

.icon-text__text_nowrap {
    white-space: nowrap;
}