.footer {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: var(--gap);
    padding-right: var(--gap);
    background-color: var(--color-bg-heavy);
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.footer__links {
    display: flex;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

.footer__links a {
    margin-right: calc(var(--space-m) - 1px);
}

.footer__links a:last-of-type {
    margin-right: 0;
}

.footer__copyright {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    margin: 0;
}

@media screen and (max-width: 480px) {
    .footer {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
    }

    .footer__links {
        margin-bottom: var(--space-xs);
    }

    .footer__content {
       flex-direction: column;
       align-items: flex-start;
    }
}