.layout {

}

.layout_space-h_small {
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.layout_type_grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.layout_align_center {
    align-items: center;
    justify-content: center;
}

.layout__container {
    margin: 0 auto;
    max-width: 1280px;
}