.button_default {
    background-color: var(--color-bg-control);   
}

.button_default:hover {
    background-color: var(--color-bg-control-hovered);
}

.button_default:focus {
    border: 2px solid var(--color-border-focused);
}