.button.button_type_icon-text {
    padding-left: var(--space-xxs);
    padding-right: var(--space-m);
}

.button__icon {
    width: 12px;
    height: 12px;
    margin-right: var(--space-xxs);
}

.button__text {
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .button_type_icon-text .button__text {
        display: none;
    }

    .button_type_icon-text .button__icon {
        margin: 0;
    }

    .button.button_type_icon-text {
        padding: var(--space-xxs);
    }
}