@import url('./button_action.css');
@import url('./button_default.css');
@import url('./button_type_icon.css');
@import url('./button_type_icon-text.css');

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button_state_disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-bg-disabled);
}

.button_size_s {
    font-size: var(--font-size-button-s);
    line-height: var(--line-height-button-s);
    padding-top: var(--space-xxxs);
    padding-bottom: var(--space-xxxs);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.button_size_m {
    font-size: var(--font-size-button-m);
    line-height: var(--line-height-button-m);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}