.form__item {
    margin-top: var(--space-xl);
}

.form__item_direction_column {
    display: flex;
    flex-direction: column;
}

.form__item_direction_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form__item_direction_left .form__label {
    margin-right: var(--space-xs);
    margin-bottom: 0;
}
