@import url('./form__label.css');
@import url('./form__item.css');
@import url('./form__control.css');

.form {

}

.form__header {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xxs);
}

.form__title {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    margin-bottom: var(--space-xs);
    font-weight: bold;
}

.form__subtitle {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--color-text-second);
}

.form__footer {
    margin-top: var(--space-xxl);
}