.form__control {

}

.form__control-postfix {
    margin-left: var(--space-xs);
    color: #434445;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.form__control_required .form__label:after {
    content: ' *';
    color: red;
}