.text {

}

.text_primary {
    color: var(--color-text);
}

.text_secondary {
    color: var(--color-text-second);
}

.text_pseudo {
    color: var(--color-text-pseudo);
}

.text_pseudo-second {
    color: var(--color-text-pseudo-second);
}

.text_link {
    color: var(--color-text-link);
}