.setting-form {
    max-width: 475px;

    &__button {}

    &__submit {
        margin-right: var(--space-xs)
    }

    &__repo-status {
        margin-top: var(--space-xs);
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .setting-form {
        max-width: 100%;
    }

    .setting-form__button {
        width: 100%;
    }

    .setting-form__submit {
        margin-right: 0;
        margin-bottom: var(--space-m);
    }

    .setting-form__footer {
        display: flex;
        flex-direction: column;
    }
}